@model UserListModel
<div class="row">
    <div class="col-6" >
        <h3>Account information</h3>
        
        <p>
            User Name : @Model.Name
        </p>
        
        <p>
            User Last Name : @Model.SurName
        </p>
        
        
        <p>
            User Account Count = <getAccountCount application-user-id="@Model.Id"></getAccountCount>
        </p>
    </div>
    
    <div class="col-6">
        <form method="post" asp-action="Create" asp-controller="Account">
            <input type="hidden" name="ApplicationUserId" value="@Model.Id"/>
            <div class="mb-3">
                <label class="form-label">Account Number:</label>
                <input type="number" name="AccountNumber" class="form-control"/>
            </div>

            <div class="mb-3">
                <label class="from-control">Balance:</label>
                <input type="number" class="form-control" name="Bakance"/>
            </div>

            <div class="mb-3">
                <button class="btn btn-primary">Create Account</button>
            </div>
        </form>
    </div>

</div>
